body{
	background-color: #f0f4c3;
	h1{
		text-align: center;
		color:  #7cb342 ;
		font: 50px Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
		font-weight: bold;
	}
	#map { 
		margin-left: 300px;
		height: 500px; 
		width: 700px;
	}
}